* {
  font-family: 'Inter', sans-serif;
  font-weight: 300;

  .Logo {
    font-family: 'Overpass', sans-serif;
    font-size: 2.5em;
  }
}

body {
  margin: 0;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}
.background {
  width: 110vw;
  height: 110vh;
  position: absolute;
  top: -5vh;
  left: -5vh;
  z-index: -1;
  background-image: url("./assets/bg1.png");
  background-size: cover;
  filter: blur(10px) brightness(20%);
}